[submodule "dotfiles/vim/bundle/probe"]
	path = dotfiles/vim/bundle/probe
	url = git@github.com:torbiak/probe.git
[submodule "dotfiles/vim/bundle/fugitive"]
	path = dotfiles/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/gundo.vim"]
	path = dotfiles/vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/mediawiki.vim"]
	path = dotfiles/vim/bundle/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
[submodule "dotfiles/vim/bundle/pyflakes-vim"]
	path = dotfiles/vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "dotfiles/vim/bundle/syntastic"]
	path = dotfiles/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/vim/bundle/vim-slime"]
	path = dotfiles/vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "dotfiles/vim/bundle/rut.vim"]
	path = dotfiles/vim/bundle/rut.vim
	url = git@github.com:torbiak/rut.vim.git
[submodule "dotfiles/vim/bundle/vim-toml"]
	path = dotfiles/vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "dotfiles/vim/bundle/tagbar"]
	path = dotfiles/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotfiles/vim/bundle/vim-go"]
	path = dotfiles/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dotfiles/vim/bundle/vim-surround"]
	path = dotfiles/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/bundle/nim.vim"]
	path = dotfiles/vim/bundle/nim.vim
	url = git://github.com/zah/nim.vim.git
